{% extends "layout.html.twig" %}

{% block title %}JSB | overzicht{% endblock %}
{% block pagetitle %}<span class="font-green-sharp">Johann Sebastian Bach</span><small> Audio catalogus</small>{% endblock pagetitle %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
    'assets/global/plugins/select2/select2.css'
    'assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css'
    'assets/global/plugins/bootstrap-datepicker/css/datepicker.css'
    filter='cssrewrite'
	%}
        <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
    {% endstylesheets %}
{% endblock stylesheets %}

{% block content %}
    {{ include("flash.html.twig") }}

    <!-- BEGIN PAGE CONTENT INNER -->
    <div class="row">
        <div class="col-md-12">
            <!-- Begin: life time stats -->
            <div class="portlet light">
                <div class="portlet-body">
                    <div class="table-container">
                        <table class="table table-striped table-bordered table-hover" id="datatable_ajax">
                        <thead>
                        <tr role="row" class="heading">
                            <th width="2%">
                                <input type="checkbox" class="group-checkable">
                            </th>
                            <th width="5%">
                                 Opus
                            </th>
                            <th width="50%">
                                 Titel
                            </th>
                            <th width="10%">
                                 Thema
                            </th>
                            <th width="10%">
                                 Datum 1e uitv.
                            </th>
                            <th width="13%">
                                 Acties
                            </th>
                        </tr>
                        <tr role="row" class="filter">
                            <td>
                            </td>
                            <td>
                                <input type="text" class="form-control form-filter input-sm" name="opus">
                            </td>
                            <td>
                               <input type="text" class="form-control form-filter input-sm" name="title">
                            </td>
                            <td>
                                <select name="theme" class="form-control form-filter input-sm">
                                    <option value="">Selecteer...</option>
                                    {% for theme in themes %}
                                        <option value="{{ theme.id }}">{{ theme.description }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td>
                                <div class="input-group date date-picker margin-bottom-5" data-date-format="dd/mm/yyyy">
                                    <input type="text" class="form-control form-filter input-sm" readonly name="date_from" placeholder="From">
                                    <span class="input-group-btn">
                                    <button class="btn btn-sm default" type="button"><i class="fa fa-calendar"></i></button>
                                    </span>
                                </div>
                                <div class="input-group date date-picker" data-date-format="dd/mm/yyyy">
                                    <input type="text" class="form-control form-filter input-sm" readonly name="date_to" placeholder="To">
                                    <span class="input-group-btn">
                                    <button class="btn btn-sm default" type="button"><i class="fa fa-calendar"></i></button>
                                    </span>
                                </div>
                            </td>
                            <td>
                                <div class="margin-bottom-5">
                                    <button class="btn btn-sm yellow filter-submit margin-bottom"><i class="fa fa-search"></i> Search</button>
                                </div>
                                <button class="btn btn-sm red filter-cancel"><i class="fa fa-times"></i> Reset</button>
                            </td>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- End: life time stats -->
        </div>
    </div>
    {% include  'list_modals.html.twig'%}
    <!-- END PAGE CONTENT INNER -->
{% endblock content%}

{#<!-- BEGIN JAVASCRIPTS -->#}
{% block javascripts %}
    {{ parent() }}
    {% javascripts
    'assets/global/plugins/select2/select2.min.js'
    'assets/global/plugins/datatables/media/js/jquery.dataTables.min.js'
    'assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js'
    'assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js'
    'assets/global/scripts/datatable.js'
    'assets/admin/pages/scripts/table-ajax.js'
     %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock javascripts%}

{% block jquery %}
    {{ parent() }}
	<script>
      jQuery(document).ready(function() {
         Metronic.init(); // init metronic core components
         Layout.init(); // init current layout
         TableAjax.init();
      });
   </script>
{% endblock jquery %}
{#<!-- END JAVASCRIPTS -->#}
